.monitor{
  width:400px;
  height:100px;
  font-size:50px;
  text-align:right;
}
.op_register{
  width:50px;
  height:100px;
  font-size:50px;
}
.keyboard{
  width:100px;
  height:100px;
  font-size:50px;
}