<!DOCTYPE html>
<html ng-app="calculatorApp">
<head>
  <title>Calculator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="calculator-action.js"></script>
</head>
<body ng-controller="PanelCtrl as ctrl">
  <input type="text" style="text-align:right;" value="{{ctrl.monitor}}">
  <input type="text" style="width:10px;" value="{{ctrl.operation}}">

  <table>
    <tr>
      <td name="numberButtons">
        <div ng-repeat="row in ctrl.numberPanels">
          <span ng-repeat="panel in row">
            <button ng-click="ctrl.numberInput(panel)">{{panel}}</button>
          </span>
          <br/>
        </div>
      </td>
      <td name="operationButtons">
        <div ng-repeat="operation in ctrl.operationPanels">
          <button ng-click="ctrl.operationInput(operation)">{{operation}}</button>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>