table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 480px;
}

td {
    text-align:center;
    padding: 20px;
    border: 1px solid gray;
    font-size: 20px;
}

.calendar-wrapper {
    width: 480px;
    font-size: 36px;
}

.prev {
    float:left;
}

.next {
    float:right;
}

.now {
    font-weight: bold;
    font-size: 25px;
}

.last-month {
    color: gray;
}

.next-month {
    color: gray;
}
